body {
    text-align: center;
    background-color: #cff0b1;
}

.hidden {
    visibility: hidden;
  }

#featured-recipe {
    position: relative;
}
  
.favorite-button {
    position: absolute;
    left: 250px;
    top: 40px;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    background-color: rgba(255, 255, 255, 0.7);
}

  /* #featured-recipe {
    display: inline-block;
    width: 50%;
  } */
  
  
  .column {
    width: 50%;
    float: left;
  }

  /* #featured-image-container {
    float: left;
  } */

  /* #recipe-container {
    float: left;
    height: 100%;
  } */

  #recipe-image {
    max-width: 400px;
    max-height: auto;
  }

  #clickable-functionality {
      display: block;
  }

