body {
    text-align: center;
    background-color: #cff0b1;
}

.hidden {
    visibility: hidden;
  }

#featured-recipe {
    position: relative;
}
  
.favorite-button {
    position: absolute;
    left: 250px;
    top: 40px;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    background-color: rgba(255, 255, 255, 0.7);
}